<h2>Category</h2>
<% if admin_user? %>
  <%= link_to "New Category", new_genre_path, class: "go-btn right" %>
<% end %>

<table class="index tablesorter">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Number of Books</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |g| %>
    <tr>
      <td> <%= link_to g.name, genre_path(g.id) %></td>
      <td><%= g.books.count %></td>
      <% if admin_user? %>
        <td>
          <%= link_to "edit", edit_genre_path(g) %>
          <%= link_to "delete", genre_path(g), method: :delete, data: {confirm: "Are you sure you want to delete this category?"} %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>