<h2>Category: <%= @genre.name %> <% if @genre.abbreviation then %> | <%= @genre.abbreviation%> <% end %></h2>

<% if admin_user? %>
  <%= link_to "Edit Category", edit_genre_path(@genre), class: "meh-btn right" %>
  <%= link_to "Delete", genre_path(@genre), method: :delete, data: {confirm: "Are you sure you want to delete this category?"}, class: "danger-btn right" %>
<% end %>

<table class="index tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @genre.books.each do |b| %>
      <tr>
        <td>
          <% if librarian_user? %>
            <%=  check_box_tag :selected, b.id, b.selected, id: "book-select_#{b.id}"  %>
          <% end %>
          <%= link_to b.title, book_path(b.id) %>
        </td>
        <td><% b.authors.each do |a| %>
              <%= link_to a.name, author_path(a) %>
            <% end %>
        </td>
        <td>
          <% if librarian_user? %>
            <%= link_to "edit", edit_book_path(b)  %>
            <% if admin_user? %>
              <%= link_to "delete", book_path(b), method: :delete, data: {confirm: "Are you sure you want to delete this book?"} %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>