<h2>Dashboard</h2>

<div class="show">
  <ul class="dashboard-links">
    <% if admin_user? %>
    <li><%= link_to "Upload Books From File", new_book_upload_path %></li>
    <li><%= link_to "Upload Users From File", new_user_upload_path %></li>
    <li><%= link_to "Import Books From Web", import_path %></li>
    <li><%= link_to "Manage Books", books_path %></li>
    <li><%= link_to "Manage Categories", genres_path %></li>
    <li><%= link_to "Manage Authors", authors_path %></li>
    <% end %>
    <li><%= link_to "Manage Keywords", keywords_path %></li>
    <li><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Manage Loans", loans_path %></li>
    <li><%= link_to "View Overdue Loans", overdue_list_path %></li>
  </ul>
</div>