<h2>Admin Dashboard</h2>

<div class="show">
  <p>There will be more things you can do here someday, but right now your only choices are: </p>
  <ul>
    <li><%= link_to "Upload Books From File", new_book_upload_path %></li>
    <li><%= link_to "Import Books From Web", import_path %></li>
    <li><%= link_to "Manage Books", books_path %></li>
    <li><%= link_to "Manage Genres", genres_path %></li>
    <li><%= link_to "Manage Authors", authors_path %></li>
    <li><%= link_to "Manage Keywords", keywords_path %></li>
    <li><%= link_to "Manage Users", users_path %></li>
  </ul>
</div>