<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email%>
  <small>Email address is not required, but if you do not have one, you will not be able to reset your password or recieve overdue reminders.</small>
  </fieldset>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <small>Currently waiting confirmation for: <%= resource.unconfirmed_email %></small>
  <% end %>

  <fieldset>
    <%= f.label :username %>
    <%= f.text_field :username %>
  <small>A username can be used as your identifier when you login, instead of an email address.</small>
  </fieldset>

  <fieldset>
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autocomplete: "off" %>
    <small>leave blank if you don't want to change it</small>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation, "New password confirmation" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </fieldset>

  <br>

  <fieldset>
    <%= f.label :name, "Legal Name" %>
    <%= f.text_field :name, required: true  %>
  </fieldset>

  <fieldset>
    <%= f.label :address %>
    <%= f.text_field :address, required: true  %>
  </fieldset>

  <fieldset>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </fieldset>

  <fieldset>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </fieldset>

  <fieldset>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </fieldset>

  <fieldset>
    <%= f.label :phone %>
    <%= f.text_field :phone, required: true  %>
  </fieldset>

  <fieldset>
    <%= f.label :preferred_first_name %>
    <%= f.text_field :preferred_first_name  %>
  </fieldset>

  <br>

  <fieldset>
    <%= f.label :current_password %> <small>we need your current password to confirm your changes</small>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </fieldset>

  <fieldset>
    <%= f.submit "update" %>
  </fieldset>
<% end %>

<p><%= button_to "cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "danger-btn" %></p>

<p><%= link_to "back", :back, class: "meh-btn" %></p>
