<h2>Sign up</h2>

<p>Create an account to borrow books from the library and view your borrowing history online.</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email%>
  <small>Email address is not required, but if you do not have one, you will not be able to reset your password or recieve overdue reminders.</small>
  </fieldset>

  <fieldset>
    <%= f.label :username %>
    <%= f.text_field :username %>
  <small>A username can be used as your identifier when you login, instead of an email address.</small>
  </fieldset>

  <fieldset>
    <%= f.label :password, "* Password" %>
    <%= f.password_field :password, autocomplete: "off", required: true %>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation, "* Password confirmation" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
  </fieldset>

  <br>

  <fieldset>
    <%= f.label :name, "* Legal Name" %>
    <%= f.text_field :name, required: true  %>
  </fieldset>

  <fieldset>
    <%= f.label :address, "* Mailing Address" %>
    <%= f.text_field :address, required: true  %>
  </fieldset>

  <fieldset>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </fieldset>

  <fieldset>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </fieldset>

  <fieldset>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </fieldset>

  <fieldset>
    <%= f.label :phone, "* Phone" %>
    <%= f.text_field :phone, required: true  %>
  </fieldset>

  <fieldset>
    <%= f.label :preferred_first_name %>
    <%= f.text_field :preferred_first_name  %>
  </fieldset>

  <fieldset>
    <%= f.submit "sign up", class: "" %>
  </fieldset>
<% end %>

<small>Note: before you can borrow your first book, you'll need to show a photo ID to a librarian. If you don't have a state-issued ID, talk to the librarian about alternatives.</small>

<br>

<%= render "devise/shared/links" %>
