<h1>Upload Books</h1>

<h5>Upload .csv or .txt File</h5>
<%= form_for @book_import do |b| %>
  <%= b.select :genre, Genre.all.collect { |n| n.name }, prompt: "Choose genre", required: true %>
  <%= b.file_field :file %>
  <%= b.submit "Import Books" %>
<% end %>

<br />
<br />

<h5>Create a New Genre</h5>
<%= render "genres/form" %>
