<table>
  <thead>
    <tr>
      <!-- unimplemented -->
      <th>role</th>
      <th><%= sortable "preferred_first_name", "preferred name"%></th>
      <th><%= sortable "name", "legal name"%></th>
      <th><%= sortable "notes", "notes" %></th>
      <th><%= sortable "do_not_lend", "do not lend" %></th>
      <th><%= sortable "identification", "identification" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <% role = "librarian" if u.has_role? :librarian; role = "admin" if u.has_role? :admin; cannot_borrow = "cannot_borrow" if !u.good_to_borrow? %>
      <tr class="<%= cannot_borrow %>">
        <td><%= role || "patron" %></td>
        <td><%= link_to u.pref_name, user_path(u.id) %></td>
        <td><%= link_to u.name, user_path(u.id) %></td>
        <td><%= "*" if u.notes %></td>
        <td><%= "X" if u.do_not_lend %></td>
        <td><%= u.identification %></td>
        <td>
          <%= link_to "Edit", edit_user_path(u) if librarian_user? %>
          <% if admin_user? && current_user != u %>
            <%= link_to "Delete", user_path(u), method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>