<h2><%= @user.name %></h2>

<div class="show">
  <% if librarian_user? && (!@user.identification || @user.identification.blank?) %>
    <p class= "highlighted_text">Before this patron can borrow books, you must check their identification and edit their profile to include it.</p>
  <% end %>
  <% if current_user == @user %>
    <p><%= link_to "edit login information", edit_user_registration_path, class: "right" %></p>
  <% end %>
  <p>email: <%= @user.email %></p>
  <p>preferred first name: <%= @user.preferred_first_name %></p>
  <p>name: <%= @user.name %></p>
  <p>phone: <%= @user.phone %></p>
  <p>address: <%= @user.address %></p>
  <p>city: <%= @user.city %></p>
  <p>state: <%= @user.state %></p>
  <p>zip: <%= @user.zip %></p>
  <p>id: <%= @user.identification %></p>
  <% if current_user != @user %>
  <p>notes: <%= @user.notes %></p>
  <% end %>
  <p><%= "DO NOT LEND" if @user.do_not_lend %>
  <% if librarian_user? && !@user.good_to_borrow? %>
    <p class= "highlighted_text">This patron can not check out books at this time.</p>
  <% end %>
</div>

<% if @user.good_to_borrow? && librarian_user? %>
  <%= link_to "New Loan", new_loan_path(user_id: @user.id), id: "new-user-loan-link", remote: true, class: "go-btn right" %>
<% end %>
<% if admin_user? && current_user != @user %>
  <%= link_to "Delete This User", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete this user?"}, class: "danger-btn right" %>
<% end %>
<%= link_to "Edit This User", edit_user_path(@user), class: "meh-btn right" if librarian_user? %>


<h3 class="clear">Loan History:</h3>
<%= render 'loans/loan_list.html.erb' %>
