<h2>Upload Books</h2>

<h3>Upload .csv or .txt File</h3>
<%= form_for @book_upload do |b| %>
  <%= b.select :genre, Genre.all.collect { |n| n.name }, prompt: "Choose genre", required: true %>
  <%= b.file_field :file %>
  <%= b.submit "Upload File" %>
<% end %>

<br />
<br />

<h3>Create a New Genre</h3>
<%= render "genres/form" %>
