<h2>Upload Books</h2>

<h3>Upload .csv or .txt File</h3>
<%= form_for @book_upload do |b| %>
  <fieldset>
    <%= b.select :genre, Genre.all.collect { |n| n.name }, prompt: "Choose category", required: true, class: "chosen-select" %>
    <%= b.file_field :file %>
  </fieldset>
  
  <%= b.submit "upload file" %>
<% end %>

<br />
<br />

<h3>Create a New Category</h3>
<%= render "genres/ajax_form" %>
