<h2>Uploaded Books</h2>

<table class="index tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author(s)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @new_books.each do |b| %>
    <tr>
      <td> <%= link_to b.title, book_path(b.id) %></td>
      <td> 
      <% if b.genre %> 
        <%= link_to b.genre.name, genre_path(b.genre) %> 
      <% end %> 
      </td>
      <td>
        <% b.authors.each do |a| %>
          <%= link_to a.name, author_path(a) %>
        <% end %>
      </td>
      <% if admin_user? %>
        <td>
        <%= link_to "edit", edit_book_path(b) %> 
        <%= link_to "delete", book_path(b), method: :delete, data: {confirm: "Are you sure you want to delete this book?"} %> 
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>