<%= fields_for @book_author do |fff| %>
  <tr class="author-row">
    <td class="add-remove-author-cell">
      <span class="remove-author" title="remove this author"</span>
    </td>
    <td>
      <%= fff.collection_select(:author_id, Author.all, :id, :name, {}, class: "chosen-select", disabled: false, index: @book_author.id) %>
    </td>
    <td>
      <%= fff.collection_select(:contribution_id, Contribution.all, :id, :name, {include_blank: ''}, multiple: false, class: "chosen-select", index: @book_author.id) %>
    </td>
    <td>
      <%= fff.radio_button :primary, :true, id: "#{@book_author.id}", class: "primary-radio-true", index: @book_author.id %>
      <%= fff.radio_button :primary, :false, id: "#{@book_author.id}", class: "primary-radio-false", index: @book_author.id, hidden: true %>
    </td>
  </tr>
<% end %>