<small>If the author of this book cannot be found in the drop down, you can create them in the author form at the bottom of this page. Note that this will cause the form to refresh.</small>
<% disabled ||= true %>
<% disabled = false if admin_user? %>
<%= form_for @book do |f| %>
    <fieldset>
    	<%= f.label :title %>
    	<%= f.text_field :title, disabled: disabled %>
    </fieldset>
    <fieldset>
      <%= f.label :isbn %>
      <%= f.text_field :isbn %>
    </fieldset>
    <fieldset>
    	<%= f.label :genre, "Category" %>
    	<%= f.select :genre_id, Genre.all.collect { |n| [n.name, n.id] }, {}, multiple: false, class: "chosen-select", disabled: disabled %>
    </fieldset>
    <fieldset id ='authors'>
      <% for @book_author in @book.book_authors %>
        <fieldset id="#{@book_author.id">
        <%= fields_for @book_author do |ff| %>
          <%= ff.label :author %>
          <%= ff.collection_select(:author_id, Author.all, :id, :name, {}, class: "chosen-select", disabled: false, index: @book_author.id) %>
          <span class="remove-author" title="remove this author"></span>
          <%= ff.label :contribution %>
          <%= ff.collection_select(:contribution_id, Contribution.all, :id, :name, {include_blank: ''}, multiple: false, class: "chosen-select", index: @book_author.id) %>
        <% end %>
      </fieldset>
    <% end %>
    </fieldset>
    <fieldset>
      <!-- add author stuff -->
      <%= link_to add_author_ajax_path(book_id: @book.id), id: "add-author", remote: true do %>
        <span class="add-author" title="add an author"></span>
      <% end %>
    </fieldset>
    <fieldset>
    	<%= f.label :keyword %>
    	<%= f.select :keyword_ids, Keyword.all.collect { |k| [k.name, k.id] }, {}, multiple: true, class: "chosen-select" %>
    </fieldset>
    <fieldset>
      <%= f.label :language %>
      <%= f.text_field :language %>
    </fieldset>
    <fieldset>
      <%= f.label :publisher %>
      <%= f.text_field :publisher %>
    </fieldset>
    <fieldset>
      <%= f.label :publish_date %>
      <%= f.text_field :publish_date %>
    </fieldset>
    <fieldset>
      <%= f.label :publication_place %>
      <%= f.text_field :publication_place %>
    </fieldset>
    <fieldset>
      <%= f.label :pages %>
      <%= f.text_field :pages %>
    </fieldset>
    <br>
    <fieldset>
      <%= f.label :missing %>
      <%= f.check_box :missing %>
    </fieldset>
    <fieldset>
      <%= f.label :in_storage %>
      <%= f.check_box :in_storage %>
    </fieldset>
    <fieldset>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </fieldset>

    <%= f.submit "submit" %>
<% end %>

<br>
<br>

<%= link_to "new author", new_author_ajax_path, id: "new-author", remote: true, class: "meh-btn right" %>