<small>If the author of this book cannot be found in the drop down, you can create them in the author form at the bottom of this page. Note that this will cause the form to refresh.</small>
<% disabled ||= true %>
<% disabled = false if admin_user? %>
<%= form_for @book do |f| %>
    <fieldset>
    	<%= f.label :title %>
    	<%= f.text_field :title, disabled: disabled %>
    </fieldset>
    <fieldset>
      <%= f.label :isbn %>
      <%= f.text_field :isbn %>
    </fieldset>
    <fieldset>
    	<%= f.label :genre, "Category" %>
    	<%= f.select :genre_id, Genre.all.collect { |n| [n.name, n.id] }, {}, multiple: false, class: "chosen-select", disabled: disabled %>
    </fieldset>
    <fieldset id ='authors'>
      <table class='form-table'>
        <thead>
          <tr>
            <th class="add-remove-author-cell"></th>
            <th>Author</th>
            <th>Contribution</th>
            <th class="primary-radio-cell">Main</th>
          </tr>
        </thead>
        <tbody>
          <% for @book_author in @book.book_authors %>
            <% @new ? temp_id = rand(1000) : temp_id = @book_author.id %>
            <%= fields_for @book_author do |ff| %>
              <tr class="author-row">
                <td class="add-remove-author-cell">
                  <span class="remove-author" title="remove this author"</span>
                </td>
                <td>
                  <%= ff.collection_select(:author_id, Author.all, :id, :name, {include_blank: ''}, class: "chosen-select", disabled: false, index: temp_id) %>
                </td>
                <td>
                  <%= ff.collection_select(:contribution_id, Contribution.all, :id, :name, {include_blank: ''}, multiple: false, class: "chosen-select", index: temp_id) %>
                </td>
                <td class="primary-radio-cell">
                  <%= ff.radio_button :primary, :true, id: "#{temp_id}", class: "primary-radio-true", index: temp_id %>
                  <%= ff.radio_button :primary, :false, id: "#{temp_id}", class: "primary-radio-false", index: temp_id, hidden: true %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td class="add-remove-author-cell">
              <%= link_to add_author_ajax_path(book_id: @book.id), id: "add-author", remote: true do %>
                <span class="add-author" title="add an author"></span>
              <% end %>
            </td>
            <td></td><td></td><td></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <fieldset>
    	<%= f.label :keyword %>
    	<%= f.select :keyword_ids, Keyword.all.collect { |k| [k.name, k.id] }, {}, multiple: true, class: "chosen-select" %>
    </fieldset>
    <fieldset>
      <%= f.label :language %>
      <%= f.text_field :language %>
    </fieldset>
    <fieldset>
      <%= f.label :publisher %>
      <%= f.text_field :publisher %>
    </fieldset>
    <fieldset>
      <%= f.label :publish_date %>
      <%= f.text_field :publish_date %>
    </fieldset>
    <fieldset>
      <%= f.label :publication_place %>
      <%= f.text_field :publication_place %>
    </fieldset>
    <fieldset>
      <%= f.label :pages %>
      <%= f.text_field :pages %>
    </fieldset>
    <br>
    <fieldset>
      <%= f.label :missing %>
      <%= f.check_box :missing %>
    </fieldset>
    <fieldset>
      <%= f.label :in_storage %>
      <%= f.check_box :in_storage %>
    </fieldset>
    <fieldset>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </fieldset>

    <%= f.submit "submit" %>
<% end %>

<br>
<br>

<%= link_to "new author", new_author_ajax_path, id: "new-author", remote: true, class: "meh-btn right" %>