<h1>Edit this Book</h1>


<%= form_for @book do |b| %>
  <%= b.label :title %> 
  <%= b.text_field :title %> 
  <%= b.label :genre %> 
  <%= b.select(:genre_id, Genre.all.collect { |n| [n.name, n.id] }) %>

  <%= b.submit "Update" %>
<% end %>

<button><%= link_to "Cancel", book_path(@book) %></button>