<h2>Book: <%= @book.title %></h2>
<h3> <%= @book.available ? "#{@book.count - @book.loans.active.count} available for checkout" : "unavailable for checkout" %> </h3>
  <% if librarian_user? %>
    <%=  check_box_tag :selected, @book.id, @book.selected, id: "book-select_#{@book.id}"  %> <small>Add to selected books</small>
  <% end %>

<div class="show">
  <p>Author(s): </p>
    <ul>
    <% @book.authors.each do |a| %>
      <li><%= link_to a.name, author_path(a) %> </li>
      <% end %>
    </ul>

  <p>ISBN: <%= @book.isbn %></p>
  <p>
  Category:
  <% if @book.genre %>
    <%= link_to @book.genre.name, genre_path(@book.genre) %>
  <% end %>
  </p>
  <p>Keyword(s): </p>
    <ul>
    <% @book.keywords.each do |k| %>
      <li><%= link_to k.name, keyword_path(k) %> </li>
    <% end %>
    </ul>
  <% if @book.location && @book.location != "" %>
    <p>Location: <%= @book.location %></p>
  <% end %>
</div>

  <%= link_to "Loan Book", new_loan_path(book_id: @book.id), id: "new-book-loan-link", remote: true, class: "go-btn right" if librarian_user? %>
  <%= link_to "Delete", book_path(@book), method: :delete, class: "danger-btn right", data: {confirm: "Are you sure you want to delete this book?"} if admin_user? %>
  <%= link_to "Edit This Book", edit_book_path(@book), class: "right meh-btn" if librarian_user? %>

<% if librarian_user? %>
  <h3 class="clear">Loan History:</h3>
  <%= render 'loans/loan_list.html.erb' %>
<% end %>
