<h2>Book: <%= @book.title %></h2>

<div class="show">
  <p>Author(s): </p>
    <ul>
    <% @book.authors.each do |a| %>
      <li><%= link_to a.name, author_path(a) %> </li>
      <% end %> 
    </ul>

  <p>ISBN: <%= @book.isbn %></p>
  <p>
  Genre: 
  <% if @book.genre %>
    <%= link_to @book.genre.name, genre_path(@book.genre) %>
  <% end %> 
  </p>
  <p>Keyword(s): </p>
    <ul>
    <% @book.keywords.each do |k| %>
      <li><%= link_to k.name, keyword_path(k) %> </li>
      <% end %> 
    </ul>
</div>

<br />
<% if librarian_user? %>
  <%= link_to "Edit This Book", edit_book_path(@book), class: "btn" %>
<% end %>
<% if admin_user? %>
  <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure you want to delete this book?"}, class: "btn retreat" %> 
<% end %>