<h1><%= @book.title %></h1>

<div class="show">
  <p>Author(s): </p>
    <ul>
    <% @book.authors.each do |a| %>
      <li><%= a.name %> </li>
      <% end %> 
    </ul>

  <p>ISBN: <%= @book.isbn %></p>
  <p>Genre: <%= @book.genre.name if @book.genre %></p>
  <p>Keyword(s): </p>
    <ul>
    <% @book.keywords.each do |k| %>
      <li><%= k.name %> </li>
      <% end %> 
    </ul>
</div>

<br />

<% if user_signed_in? and current_user.has_role? :admin %>
  <%= link_to "Edit This Book", edit_book_path(@book.id), class: "right btn2" %>
<% end %>