<table class="index">
  <thead>
    <tr>
      <!-- unimplemented -->
      <th>Book Title</th>
      <!-- unimplemented -->
      <th>User</th>
      <th><%= sortable "start_date", "Start Date" %></th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <!-- unimplemented -->
      <th>Borrower Name</th>
      <!-- unimplemented -->
      <th>Borrower Phone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |l| %>
      <tr>
        <td><%= link_to l.book.title, book_path(l.book.id) %></td>
        <td><%= link_to l.user.name, user_path(l.user.id) %></td>
        <td><%= l.start_date %></td>
        <td><%= l.due_date %></td>
        <td><%= l.user.name %></td>
        <td><%= l.user.phone %></td>
        <td><%= link_to 'view', loan_path(l.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @loans %>