<%= will_paginate @loans %>
<table>
  <thead>
    <tr>
      <th><%= sortable "title", "Book Title" %></th>
      <th><%= sortable "start_date", "Start Date" %></th>
      <th><%= sortable "due_date", "Due Date" %></th>
      <th><%= sortable "name", "Borrower Name" %></th>
      <th><%= sortable "phone", "Borrower Phone" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |l| %>
      <tr>
        <td><%= link_to l.book.title, book_path(l.book.id) if l.book %></td>
        <td><%= l.start_date %></td>
        <td><%= l.due_date %></td>
        <td><%= link_to l.user.name, user_path(l.user.id) if l.user %></td>
        <td><%= l.user.phone %></td>
        <td><%= link_to 'view', loan_path(l.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @loans %>