<h1>Keywords</h1>
<% if current_user.has_role? :admin %>
  <%= link_to "New Keyword", new_keyword_path, class: "btn right" %>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Number of Books</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @keywords.each do |k| %>
    <tr>
      <td> <%= link_to k.name, keyword_path(k) %></td>
      <td><%= k.books.count %></td>
      <td>
        <% if current_user.has_role? :admin %>
          <%= link_to "Edit", edit_keyword_path(k) %>
          <%= link_to "Delete", keyword_path(k), method: :delete, confirm: "Are you sure you want to delete this keyword?" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>