<h1><%= @keyword.keyword %></h1>

<table class="index">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
  </tr>

  <% @keyword.books.each do |b| %>
    <tr>
    <td><%= link_to b.title, book_path(b.id) %></td>
    <% if b.authors.size > 1 %>
      <td><%= link_to b.authors[0].name, author_path(b.authors[0].id)%> and others</td>
    <% else %>
      <td><%= link_to b.authors[0].name, author_path(b.authors[0].id) %></td>
    <% end %>
    <td><%= b.genre.name if b.genre %></td>
    </tr>
  <% end %>
</table>
