<h2><%= @genre.name %></h2>

<table>
  <thead>
    <th>Completed?</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Publish Date</th>
    <th>Publication Place</th>
    <th>Language</th>
    <th>Pages</th>
    <th>Location</th>
    <th>Count</th>
    <th>In Storage</th>
    <th>Missing</th>
    <th>Notable</th>
    <th>Keep Multiple</th>
  </thead>
  <tbody>
    <% @genre.books.each do |book| %>
      <tr>
        <td><input type="checkbox"></td>
        <td><%= book.title %></td>
        <td><%= book.publisher %></td>
        <td><%= book.publish_date %></td>
        <td><%= book.publication_place %></td>
        <td><%= book.language %></td>
        <td><%= book.pages %></td>
        <td><%= book.location %></td>
        <td><%= book.count %></td>
        <td><%= book.in_storage %></td>
        <td><%= book.missing %></td>
        <td><%= book.notable %></td>
        <td><%= book.keep_multiple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button>Done!</button>