<!DOCTYPE html>
<html>
<head>
  <title>LibraryCollection</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <!-- search column aside -->
  <aside class="column-2 left">

      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name, id:"headerbar" %>
      <% end %>

 <%= form_tag "/search", method: "get" do %>
      <%= label_tag "search" %>
      <%= text_field_tag :search, params[:search], placeholder:"sparkle" %>
      <%= submit_tag "Search", name: nil %>
  <% end %>
  
    <h2>browse</h2>
    <h3><%= link_to "by keyword", keywords_path %></h3>
    <h3><%= link_to "by author", authors_path %></h3>
    <h3><%= link_to "by genre", genres_path %></h3>

 
  </aside>

  <div class="column-6 gray">
    <section class="main">
      <h1>Library Collection</h1>
      <nav>
        <ul>
        <li><%= link_to "home", root_path %></li> 
        <li>
            <a href="mailto:library@example.com?Subject=Inquiry" target="_top">contact the library!</a></li>

        <% if user_signed_in? %>
          logged in as <strong><%= current_user.email %></strong>. 
          <li><%= link_to 'edit profile', edit_user_registration_path %></li>  
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>  

          <% if current_user.has_role? :admin %>
            <li><%= link_to "admin Dashboard", admin_dashboard_path %></li> 
          <% end %>

        <% else %>

          <li><%= link_to "login", new_user_session_path %></li> 

        <% end %>

        </ul>
      </nav>
    <%= yield %>
   </div>
  <div class="column-2">
    <span class="vertical">home</span>
  </div>
 
</div>
</body>
</html>
