<!DOCTYPE html>
<html>
<head>
  <title>LibraryCollection</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "Home", root_path %> &nbsp;
  <a href="mailto:library@example.com?Subject=Inquiry" target="_top">Contact the Library!</a>
</nav>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

</body>
</html>
