<!DOCTYPE html>
<html>
<head>
  <title>LibraryCollection</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "Home", root_path %> &nbsp; 
  <a href="mailto:library@example.com?Subject=Inquiry" target="_top">Contact the Library!</a>  &nbsp;

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>. &nbsp;
    <%= link_to 'Edit profile', edit_user_registration_path %>  &nbsp;
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>  &nbsp;

    <% if current_user.has_role? :admin %>
      <%= link_to "Admin Dashboard", admin_dashboard_path %> &nbsp;
    <% end %>

  <% else %>

    <%= link_to "Login", new_user_session_path %> &nbsp;

  <% end %>


</nav>
 
<div id="headerbar">

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: name %>
 <% end %>

 </div>


<div id="main_content">
  <%= yield %>
</div>

</body>
</html>
