<!DOCTYPE html>
<html>
<head>
  <title>LibraryCollection</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

</head>
<body>
  <%= yield %>
</body>
</html>
